@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

span {
    color: rgba(130, 130, 130, 1);
    cursor: pointer;
}

.content_center {
    margin: 32px 250px;
    text-align: center;
}

.row1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(130, 130, 130, 1);
}

h1 {
    font-size: 36px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.rowDeco {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    align-self: flex-end;
}

.photo {
    width: 580px;
    height: 390px;
}

.decoL {
    height: 350px;
}

.decoR {
    height: 350px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.violet {
    background-color: rgba(231, 205, 255, 1);
    text-align: center;
    margin-top: 64px;
    padding: 32px 0;
}

h2 {
    font-size: 28px;
}

.rowIcons1 {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
    font-weight: bold;
}

.element {
    width: 180px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.rowIcons2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
    font-weight: bold;
}

.rowRat {
    height: 26px;
    position: absolute;
    bottom: 0;
}

.icon1 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

a {
    font-size: 18px;
    color: black;
    font-size: 16px;
}

.project {
    box-shadow: 0px 8px 4px hsla(0, 0%, 0%, 0.25);
}

.project:hover {
    
    transition: 0.2s;
    transform: scale(1.005);
}

.content_center2 {
    margin: 64px 500px;
    text-align: center;
}

.element2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
}

.icon2 {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.icon2:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

button {
    margin-top: 32px;
    width: 210px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(231, 205, 255, 1);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:  rgb(205, 255, 237);
}