@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    background-image: url(./bgDark.png);
    background-size: 2354px 1058px;
    background-position: -516px -37px;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 600px;
    background-color: rgba(231, 205, 255, 1);
    border-radius: 50px;
    padding: 32px 32px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgba(7, 7, 7, 1);
    font-weight: 600;
    margin-bottom: 16px;
}

label {
    font-size: 26px;
}

input[type=text] {
    
    padding: 8px 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;

    border: none;
    background-color: rgba(255, 245, 197, 1);
    border-radius: 50px;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

input[type='date'] {
    width: 100%;
    margin-top: 8px;
    padding: 8px 16px;

    border: none;
    background-color:  rgba(255, 245, 197, 1);
    border-radius: 50px;

    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

fieldset {
    margin-bottom: 16px;
    border: none;
    text-align: center;
}

fieldset legend {
    margin-bottom: 8px;
    font-size: 26px;
}

fieldset label {
    font-size: 16px;
}

input[type='radio'] {
    zoom: 3;
    accent-color: rgba(255, 245, 197, 1);
    margin: 0px 8px
}

textarea {
    margin-top: 8px;
    width: 100%;
    height: 180px;
    padding: 16px 32px;
    box-sizing: border-box;

    border: none;
    background-color: rgba(255, 245, 197, 1);
    border-radius: 50px;
    resize: none;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

button {
    padding: 16px 32px;

    border: none;
    background-color: rgb(201, 193, 156);
    border-radius: 50px;

    margin-top: 32px;
    cursor: pointer;

    font-size: 26px;
    font-weight: 600;

    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

button:hover {
    background: rgba(255, 245, 197, 1);
}

.row {
    display: flex;
    justify-content: space-around;
}

.element {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.element2 {
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
}